language: node_js
notifications:
  email: false
node_js:
  - '8'
install:
  - npm i
script:
  - npm run lint
  - npm test
before_deploy:
  - npm run build
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
